{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Tasks</h1>
            {% if task_list.count != 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in task_list %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.start_date|date:"m/d/Y"}}</td>
                            <td>{{ item.due_date|date:"m/d/Y"}}</td>
                            <td>{{ item.is_completed|yesno:"Yes, No"}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
    </div>
</main>
{% endblock content %}
