{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>{{ project_object.name }}</h1>
            <p>The first assessment project in my bootcamp.</p>
        <h2>Task</h2>
            <p>
                <a href = {% url 'create_task' %}>Create a new task</a>
            </p>
            {% if project_object.tasks.count != 0 %}
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Assignee</td>
                        <td>Start date</td>
                        <td>Due date</td>
                        <td>Is completed</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in project_object.tasks.all %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.assignee }}</td>
                            <td>{{ item.start_date|date:"m/d/Y"}}</td>
                            <td>{{ item.due_date|date:"m/d/Y"}}</td>
                            <td>{{ item.is_completed|yesno:"Yes, No"}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
    </div>
</main>

{% endblock content %}
