{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        <a href = {% url 'create_project' %}>Create a new project</a>
            {% if project_list.count == 0  %}
            <p>You are not assigned to any projects</p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Number of Tasks</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in project_list %}
                        <tr>
                            <td>
                                <a href = "{% url "show_project" item.id %}">{{ item.name }}</a>
                            </td>
                            <td>{{ item.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
    </div>
</main>
{% endblock content %}
